@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --azul: hsl(212, 45%, 89%);
    --cinza1: hsl(220, 15%, 55%);
    --cinza2: hsl(218, 44%, 22%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--azul);
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container{
    height: 497px;
    width: 320px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px  0 10px #ccc;

    text-align: center;
}

.container img{
    width: 288px;
    height: 288px;
    border-radius: 10px;

    margin-bottom: 25px;
}

.texto{
    width: 288px;
    height: 129px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto h1{
    font-size: 22px;
    color: #1F314F;
    margin-bottom: 10px;
}

.texto p{
    width: 256px;
    font-size: 15px;
    color: #7D889E;
}


.attribution{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 12px;
    text-align: center;
}